@model List<Tablas.Pizza>

@{
    ViewData["Title"] = "Tienda";
}

<h1>Tienda</h1>

<div>
    <h4>Tablas</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @foreach (var item in Model)
    {
        <span>@item.Cod_pizza</span>
        <span>@item.Nombre</span>
        <span>@item.Precio</span>
        <span>@item.Foto</span>
        <br />
    }
</div>
